<section style="display: none !important" data-section-type="collection-template"></section> 
<section class="gt_section-1IuGNlXVoGVmiPZ " data-name="Banner"><div class="gt_banner-bg gt_lazyload" style=" background-image: url('')"><div class="gt_overlay"></div></div><div class="gt_container"><div class="gt_content"><div class="gt_atom-1IuGNlXVoGVmiPZ_box1 gt_px--extra-small xs:gt_px--none gt_banner-image" data-name="Box Image 1" data-class="gt_px--extra-small xs:gt_px--none gt_banner-image" data-attribute="box1"><div class="gt_atom-1IuGNlXVoGVmiPZ_image1 gt_main-image" data-name="Image Banner" data-class="gt_main-image" data-attribute="image1"><div class="gt_image--body"><a href="#gt_section-4uO1ZO0HkNqgd1s"><img class="gt_atom-img gt_lazyload" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/DhaIbRbBGc-screenshot_149-png_20x.png" alt="Image Banner" title=""><div class="gt_atom--overlay"></div><div class="gt_atom--overlay-hover"></div></a></div></div><div class="gt_atom-1IuGNlXVoGVmiPZ_content1 gt_content-image" data-name="Content 1" data-attribute="content1" data-class="gt_content-image"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('')"><div class="gt_atom-1IuGNlXVoGVmiPZ_text1 gt_subheading gt_mb--none gt_py--extra-small" data-name="Message" data-attribute="text1" data-class="gt_subheading gt_mb--none gt_py--extra-small"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><font color="#000001"><b style="">ADULT&nbsp;</b></font><div style=""><i style="">12+ months</i></div></div></div></div></div></div></div><div class="gt_atom-1IuGNlXVoGVmiPZ_box2 gt_px--extra-small xs:gt_px--none gt_banner-image" data-name="Box Image 2" data-class="gt_px--extra-small xs:gt_px--none gt_banner-image" data-attribute="box2"><div class="gt_atom-1IuGNlXVoGVmiPZ_image2 gt_main-image" data-name="Image Banner" data-class="gt_main-image" data-attribute="image2"><div class="gt_image--body"><a href="#gt_section-1WeIY7hhbCk47Rg"><img class="gt_atom-img gt_lazyload" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/IMclktfJYV-screenshot_149-png_20x.png" alt="Image Banner" title=""><div class="gt_atom--overlay"></div><div class="gt_atom--overlay-hover"></div></a></div></div><div class="gt_atom-1IuGNlXVoGVmiPZ_content2 gt_content-image" data-name="Content 2" data-attribute="content2" data-class="gt_content-image"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('')"><div class="gt_atom-1IuGNlXVoGVmiPZ_text2 gt_subheading gt_mb--none gt_py--extra-small" data-name="Message" data-attribute="text2" data-class="gt_subheading gt_mb--none gt_py--extra-small"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><b>JUNIOR</b></div><div><div class="gt_box-desc" style="display: inline;"><i>2-12 months</i></div></div></div></div></div></div></div><div class="gt_atom-1IuGNlXVoGVmiPZ_box3 gt_px--extra-small xs:gt_px--none gt_banner-image" data-name="Box Image 3" data-class="gt_px--extra-small xs:gt_px--none gt_banner-image" data-attribute="box3"><div class="gt_atom-1IuGNlXVoGVmiPZ_image3 gt_main-image" data-name="Image Banner" data-class="gt_main-image" data-attribute="image3"><div class="gt_image--body"><a href="#gt_section-FvIxtpOjhdkfVg7"><img class="gt_atom-img gt_lazyload" src="https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/SXaXbBlPSx-screenshot_149-png_20x.png" alt="Image Banner" title=""><div class="gt_atom--overlay"></div><div class="gt_atom--overlay-hover"></div></a></div></div><div class="gt_atom-1IuGNlXVoGVmiPZ_content3 gt_content-image" data-name="Content 3" data-attribute="content3" data-class="gt_content-image"><div class="gt_bg--center gt_bg--no-repeat gt_bg--cover bg-img gt_lazyload" style=" background-image: url('')"><div class="gt_atom-1IuGNlXVoGVmiPZ_text3 gt_subheading gt_mb--none gt_py--extra-small" data-name="Message" data-attribute="text3" data-class="gt_subheading gt_mb--none gt_py--extra-small"><div class="gt_text-wrapper"><div class="gt_box-desc" style="display: inline;"><b>STARTER</b></div><div><i>up to 4 months</i></div></div></div></div></div></div></div></div></section>

<section class="gt_section-4uO1ZO0HkNqgd1s " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/EoyIZyqfLn-untitled-design-55-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Adult
            </h2>
            <p class="">
              <b>Small and mini breed (2.2 - 22 lbs)
</b><br>White Fish - Most Popular
            </p>
          </div>

          
            <a href="/products/natures-protection-superior-care-white-dogs-grain-free-white-fish-adult-small-and-mini-breeds-food-for-adult-small-and-mini-breed-dogs" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gt_section-B3rUjl15obV2tjm " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/zraKqNeBFO-untitled-design-54-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Adult
            </h2>
            <p class="">
              <b>Small and mini breed (2.2 - 22 lbs)
</b><br>Salmon
            </p>
          </div>

          
            <a href="/products/adult-small-breed" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gt_section-1K2jp7AS4WARa2f " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/PmGuRoRJsg-untitled-design-53-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Adult
            </h2>
            <p class="">
              <b>Small and mini breed (2.2 - 22 lbs)
</b><br>Lamb
            </p>
          </div>

          
            <a href="/products/natures-protection-superior-care-white-dogs-lamb-adult-small-and-mini-breeds-food-for-adult-small-and-mini-breed-dogs-with-white-coat" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gt_section-rKg6NcVawF5HcZM " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/axkQylccJK-untitled-design-52-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Adult
            </h2>
            <p class="">
              <b>Large Breed (55 lbs+)
</b><br>White Fish
            </p>
          </div>

          
            <a href="/products/natures-protection-superior-care-white-dogs-grain-free-white-fish-adult-large-kibble-food-for-adult-large-kibble-dogs" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gt_section-FvIxtpOjhdkfVg7 " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/KzDshABeDi-untitled-design-51-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Starter
            </h2>
            <p class="">
              <b>All Breeds
</b><br>Salmon
            </p>
          </div>

          
            <a href="/products/natures-protection-superior-care-white-dogs-grain-free-salmon-starter-all-breeds-food-for-puppies-of-all-breeds-with-white-coat" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gt_section-1WeIY7hhbCk47Rg " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/DjkJCHNBlP-untitled-design-56-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Junior
            </h2>
            <p class="">
              <b>All Breeds
</b><br>Salmon
            </p>
          </div>

          
            <a href="/products/natures-protection-superior-care-white-dogs-grain-free-salmon-junior-all-breeds-food-for-growing-dogs-of-all-breeds-with-white-coat" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>


<section class="gt_section-K2bIRMsFDWdUBan " data-name="Banner">
  <div class="gt_container">
    <div class="banner_body  banner_body_change ">
      <div class="banner_image">
          <div class="item_background_image gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0597/1551/8645/t/4/assets/fHWqkzmpOI-untitled-design-58-png_100x.png')">

          </div>
      </div>
      <div class="gt_p--medium banner_content_text">
        <div class="animated fadeInUp shown-on-scroll">
          <div class="gt_mb--medium item_text">
            <h2 class="gt_heading">
              Junior
            </h2>
            <p class="">
              <b>Small and Mini
</b><br>White Fish
            </p>
          </div>

          
            <a href="/products/natures-protection-superior-care-white-dogs-grain-free-white-fish-junior-small-and-mini-breeds-food-for-growing-dogs-of-small-breeds-with-white-coat" class="linkbutton">
              <button type="button" class="gt_button bt_submit">
                Shop Now
              </button>
            </a>
          
        </div>
      </div>
    </div>
  </div>
</section>

 
{% comment %}
You SHOULD NOT modify source code in this page because
It is automatically generated from EcomSolid
Try to edit page with the live editor.
{% endcomment %}
