@use "mixins" as m;
@import "./font";

body {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.25;
  font-weight: 400;
  color: #121212;
  overflow-x: hidden;
  &.scroll {
    height: 100vh;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: rgba(18, 18, 18, 0.6);
      filter: blur(5px);
      transition: all 400ms;
    }
  }
}

h1,
.h1 {
  color: #121212;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  @include m.media-lg() {
    font-size: 40px;
  }
  @include m.media-sm() {
    font-size: 20px;
  }
}
.h1--decor {
  text-align: center;
  span {
    color: #acaaab;
  }
  &:after {
    content: "";
    display: block;
    width: 73px;
    height: 1px;
    margin: 32px auto 0;
    background-color: #2d2424;
  }
}
.h1--decor2 {
  span {
    position: relative;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      width: 140%;
      height: 140%;
      top: 0px;
      left: 0;
      background: url(dec.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left;
    }
  }
}
p {
  margin: 0;
  // font-size: 18px;
  // font-weight: 300;
  @include m.media-sm {
    font-size: 16px;
  }
}
button {
  padding: 0;
  &:hover {
    background: none;
  }
}
form {
  :-moz-placeholder {
    color: #767270;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
  }
  ::-moz-placeholder {
    color: #767270;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
  }
  :-ms-input-placeholder {
    color: #767270;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
  }
  ::-webkit-input-placeholder {
    color: #767270;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
  }
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  background: #f88927;
  border-radius: 10px;
  &:hover {
    color: #fff;
    background: #f88927;
    opacity: 0.8;
  }
}
.btn_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f88927;
  @include m.media-sm {
    font-size: 20px;
  }
  svg {
    margin-left: 10px;
    stroke: #f88927;
  }
}

h2.ga-title {
  text-transform: uppercase;
  font-family: var(--font-heading-family);
}
.ga-product_price-container {
  text-align: center;
}
.zf-templateWidth {
  width: auto !important;
  max-width: 1034px;
  .zf-oneColumns .zf-tempContDiv span input[type="checkbox"] {
    display: none;
  }
  .zf-oneColumns .zf-tempContDiv span {
    position: relative;
  }
  .zf-oneColumns .zf-tempContDiv span label {
    cursor: pointer;
  }

  .zf-oneColumns .zf-tempContDiv span label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid #767270;
    border-radius: 2px;
  }
  .zf-oneColumns .zf-tempContDiv span label::after {
    content: "";
    position: absolute;
    display: none;
    left: 3px;
    width: 8px;
    height: 8px;
    top: 4.5px;
    background: #f88927;
    border-radius: 1px;
  }
  .zf-oneColumns .zf-tempContDiv span input[type="checkbox"]:checked + label:after {
    display: block;
  }
  .zf-oneColumns .zf-tempContDiv span input[type="checkbox"]:checked + label::before {
    border: 1px solid #f88927;
  }
  .zf-nameWrapper {
    width: 100% !important;
  }
  .zf-tempContDiv input[type="text"]:focus,
  .zf-tempContDiv textarea:focus {
    border: 1px solid rgba(#f88927, 0.7) !important;
  }
  .zf-name .zf-tempContDiv input[type="text"] {
    padding: 15px 0 15px 20px;
    border: 1px solid #E0E1E1;
    border-radius: 10px;
  }
  .zf-small .zf-tempContDiv input[type="text"] {
    width: 100%;
    padding: 15px 0 15px 20px;
    border: 1px solid #E0E1E1;
    border-radius: 10px;
  }
  .zf-small .zf-tempContDiv textarea {
    width: 100%;
  }
}
.gBackInStock-Button {
  display: flex;
  justify-content: center;
  .gBackInStockBtn {
    width: 258px !important;
    height: 60px !important;
    border-radius: 10px !important;
  }
}