@use "mixins" as m;
.section-products {
  padding: 10px 0 40px;
  text-align: center;
  @include m.media-lg {
    padding: 25px 0 58px;
  }
  @include m.media-sm {
    padding: 20px 0;
  }
  h2 {
    margin-bottom: 40px;
    @include m.media-md {
      margin-bottom: 20px;
    }
  }
  .ProductGridContainer {
    margin: 30px auto;
    @include m.media-lg {
      margin: 20px auto 70px;
    }
  }
}
.product-grid {
  position: relative;
  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .slick-prev {
    left: -15px;
  }
  .slick-next {
    right: -15px;
  }
}
.card {
  position: relative;
  max-width: 253px;
  padding: 50px 0 38px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(240, 238, 239, 0.4);
  border-radius: 40px;
  direction: ltr;
}
.sticker {
  position: absolute;
  right: 0;
  top: 0;
}
.card__title {
  font-size: 16px;
  line-height: 1.25;
  &:hover {
    color: #f88927;
  }
  @include m.media-sm {
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    font-size: 13px;
  }
}
.price__element-varies {
  color: #767270;
  span {
    color: #121212;
  }
  @include m.media-sm {
    font-size: 12px;
  }
}
.card__img {
  position: relative;
  width: 100%;
  height: 250px;
}

.card__medialink {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.price__element {
  // margin-bottom: 12px;
}
.curentprice,
.price__element-normal {
  color: #f88927;
  font-weight: 600;
  font-size: 16px;
}
.oldprice {
  font-size: 12px;
  text-decoration: line-through;
  color: red;
}
button.product-form__submit--collection {
  width: 108px;
  height: 40px;
  svg {
    // fill: #fff;
    stroke: #fff;
  }
  &:hover {
    opacity: 0.8;
  }
}
.form--product-card {
  padding: 16px 16px 0 16px;
  @include m.media-md {
    padding: 10px 5px 5px;
  }
}
.card__options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  direction: ltr;
}
.card__option {
  font-size: 12px;
  font-weight: 600;
  color: #928f91;
  direction: ltr;
  &:not(:first-child) {
    margin-left: 5px;
  }
  &:not(:last-child) {
    display: inline-flex;
    align-items: center;
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 10px;
      margin-left: 5px;
      background: #928f91;
    }
  }
}
.sticker {
  position: absolute;
  top: -10px;
  right: -10px;
}
.product-grid--js {
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #f88927;
    transition: all 300ms;
    svg {
      path {
        transition: all 300ms;
        stroke: #f88927;
      }
    }
    &:hover {
      background: #f88927;
      svg {
        path {
          stroke: #fff;
        }
      }
    }
  }
  .slick-prev {
    left: -50px;
    @include m.media-xxxl {
      left: 0;
    }
  }
  .slick-next {
    right: -50px;
    @include m.media-xxxl {
      right: 0;
    }
  }
  .slick-dots {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: -40px;
    li {
      button {
        font-size: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #e0e1e1;
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
      &.slick-active {
        button {
          background: #f88927;
          border: 2px solid #f88927;
        }
      }
    }
  }
}
