@use "mixins" as m;

.section-faq {
  position: relative;
  padding: 50px 0 100px;
  @include m.media-md() {
    padding: 40px 0;
  }
  .h1--decor2 {
    text-align: center;
    margin-bottom: 42px;
  }
}
.section-faq:has(.section-faq__faqs) {
  padding: 50px 0;
}

.faq__wr {
  padding: 15px 0;
  border-top: 1px solid #e0e1e1;
  &:last-child {
    border-bottom: 1px solid #e0e1e1;
  }
  &:has(.faq__question.active) {
    max-width: 80%;
    @include m.media-md() {
      max-width: 100%;
    }
  }
}
.section-faq__faqs {
  .faq__wr {
    &:has(.faq__question.active) {
      max-width: 100%;
    }
  }
}
.faq__answer {
  display: none;
  font-weight: 400;
  font-size: 16px;
  color: #767270;
  line-height: 1.6;
  span {
    color: #f88927;
  }
}
.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  .h6 {
    display: block;
    max-width: calc(100% - 23px);
  }
  svg {
    transition: all 300ms;
    path {
      transition: all 300ms;
      stroke: #767270;
    }
  }
  &.active {
    color: #f88927;
    svg {
      transform: rotate(180deg);
      path {
        stroke: #f88927;
      }
    }
  }
}
.faq__decor1 {
  position: absolute;
  left: 10%;
  top: 3%;
  max-width: 84px;
  @include m.media-sm() {
    max-width: 40px;
    left: 3%;
  }
}
.cnt-inf {
  max-width: 1004px;
  margin: auto;
}
.section-faq__faqs {
  max-width: 1034px;
}
