@use "mixins" as m;

.section-results {
  padding: 40px 0 10px;
  text-align: center;
  @include m.media-md {
    padding: 20px 0 5px;
  }
  h2 {
    margin-bottom: 30px;
    @include m.media-md {
      margin-bottom: 15px;
    }
  }
}
.section-results__text {
  margin-bottom: 10px;
}
.section-results__link {
  margin-bottom: 38px;
  margin-top: 20px;
}
.results-item {
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  @include m.media-md {
    margin-bottom: 20px;
  }
  @include m.media-xl() {
    max-width: 48%;
  }
  @include m.media-sm {
    max-width: 100%;
  }
  img {
    display: block;
    width: 100%;
    max-height: 460px;
    aspect-ratio: 1/1;

    margin-bottom: 27px;
    border-radius: 40px;
    object-fit: cover;
    @include m.media-xl() {
      width: 100%;
    }
    @include m.media-sm {
      margin-bottom: 20px;
    }
  }
  a {
    padding-bottom: 5px;
    font-size: 32px;
    line-height: 1.4;
    color: #525252;
    border-bottom: 2px solid transparent;
    @include m.media-sm {
      font-size: 20px;
    }
    span {
      color: #f88927;
    }
    &:hover {
      border-bottom: 2px solid #f88927;
    }
  }
  &.sng {
    width: 100%;
    @include m.media-xl() {
      max-width: 100%;
    }
    img {
      max-height: 380px;
      border-radius: 40px;
      @include m.media-lg {
        max-height: 180px;
        object-fit: contain;
      }
      @include m.media-sm {
        max-height: 150px;
      }
    }
  }
  .results-item__text {
    margin: 20px 0 0;
    @include m.media-sm() {
      margin: 10px 0 0;
    }
  }
}
