{{ 'page404.css' | asset_url | stylesheet_tag }}
{%- assign link = section.settings.link | default: routes.root_url -%}

<div class="error-404-wrap t4s-text-center t4s-empty__page">
  <div class="t4s-container">
    <div class="page404-wrp">
      <img
        src="{{-  section.settings.img | img_url: 'master' -}}"
        alt=""
        class="page404__img">
      <div class="page404-wrp__content">
        <h1 class="h1--decor2">
          <span>Sorry</span>, page not found
        </h1>
        <p class="error-404-link">We're sorry, but the page you were trying to find does not exist. We suggest you go to the main page</p>
      </div>
    </div>

  </div>
</div>


{%- schema -%}
  {
    "name": "404",
    "tag": "section",
    "class": "t4s-section t4s-section-main error-404 not-found t4s-pr t4s-oh",
    "settings": [
      {
        "type": "url",
        "id": "link",
        "label": "Link Button"
      }, {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      }
    ]
  }
{% endschema %}