.about-info {
  position: relative;
  background: #f4f4f4;
  padding: 40px 0;
}
.about-info .container {
  max-width: 1110px;
}
.about-info .rte p {
  margin-bottom: 20px;
}
.about-info .rte img {
  display: block;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-menu {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: auto;
}
@media (max-width: 991px) {
  .about-menu {
    display: none;
  }
}
.about-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-menu ul li:not(:last-child) {
  margin-right: 15px;
}
.about-menu ul li a {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 20px;
  background: none;
  border: 1px solid transparent;
  color: #928f91;
  font-weight: 400;
  font-size: 16px;
  border-radius: 28px;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.about-menu ul li a.active {
  color: #1d1d1d;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #cecece;
}
.about-menu ul li a:hover {
  color: #f88927;
}

.about-menu--mobile {
  display: none;
  position: absolute;
  z-index: 10;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  top: 0;
  background: #f4f4f4;
  text-align: center;
}
.about-menu--mobile ul li {
  padding: 10px 0;
}

.mob-content {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .mob-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mob-content h3 {
  margin: 0 auto;
}

.mob {
  position: relative;
  z-index: 11;
  width: 45px;
  height: 40px;
  overflow: hidden;
  background: none;
}

.mob span {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background: #d19f02;
  border-radius: 4px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.mob span:before {
  content: "";
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: -15px;
  left: 0;
  height: 4px;
  background-color: #d19f02;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.mob span:after {
  border-radius: 4px;
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  left: 0;
  background-color: #d19f02;
  bottom: -15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.mob .active {
  background: none;
}

.mob .active:before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mob .active:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}