@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Quicksand:wght@700&display=swap");
@import url("http://fonts.cdnfonts.com/css/museo-sans-cyrl?styles=17900,17898,17902");
.t4s-product-wrapper {
  position: relative;
  max-width: 253px;
  padding: 50px 0 38px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(240, 238, 239, 0.4);
          box-shadow: 0px 0px 10px rgba(240, 238, 239, 0.4);
  border-radius: 40px;
}

.t4s-dropdown__sortby button[data-dropdown-open] {
  border: 1px solid #CECECE !important;
  border-radius: 50px !important;
  color: #928F91 !important;
  font-size: 16px !important;
}
@media (max-width: 768px) {
  .t4s-dropdown__sortby button[data-dropdown-open] {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .t4s-dropdown__sortby .t4s-icon-select-arrow, .t4s-icon-select-arrow {
    right: 10px !important;
  }
}

.srtBy {
  margin-right: 30px;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .srtBy {
    display: none;
  }
}

.t4s-btn-filter {
  font-size: 18px;
  font-weight: 300;
}

.t4s-collection-header {
  margin: 0 0 40px;
}

.form--product-card {
  text-align: center;
}

.card__title {
  margin-bottom: 15px;
}

.card__img {
  margin-bottom: 10px;
}

.t4s-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.t4s-product-wrapper {
  height: 100%;
}

.t4s-active-filters a:hover {
  color: #F88927;
}

.t4s-active-filters .t4s-active-filters__count > span {
  color: #F88927;
}

.t4s-active-filters .t4s-active-filters__clear {
  background-color: #F88927;
}

.product-form__submit--collection {
  font-size: 11px;
}

.product-form__buttons .t4s-pr-quickview .t4s-svg-pr-icon {
  display: none !important;
}

.t4s-modal-close {
  top: 10px !important;
  right: 10px !important;
}
.t4s-modal-close:hover {
  color: #F88927 !important;
}
.t4s-modal-close:hover svg {
  fill: #F88927 !important;
}

.badge_shape_1 .t4s-product-badge > span {
  border-radius: 10px;
  height: 30px;
}

.t4s-product__media img {
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.t4s-product--height {
  height: 100%;
}

button.ga-product_addtocart {
  border-radius: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
button.ga-product_addtocart:hover {
  opacity: 0.8;
}

#wigget_8092 span.ga-product_price, #ga-product_related span.ga-product_price {
  font-size: 16px;
}

.gowl-stage-outer {
  padding: 10px 0;
}

.ga-carousel_wrapper .ga-product {
  -webkit-box-shadow: 0 0 10px rgba(240, 238, 239, 0.4);
          box-shadow: 0 0 10px rgba(240, 238, 239, 0.4);
  border-radius: 40px;
  max-width: 253px;
  margin: 0 auto;
  padding-bottom: 38px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wigget_8092 .ga-product_title:hover, #ga-product_related .ga-product_title:hover {
  color: #f88927;
}