@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Quicksand:wght@700&display=swap");
@import url("http://fonts.cdnfonts.com/css/museo-sans-cyrl?styles=17900,17898,17902");
#contact_form_page input {
  border: 1px solid #CECECE;
  border-radius: 30px;
}
#contact_form_page input[type=submit] {
  border: 1px solid #F88927;
}
#contact_form_page textarea {
  border: 1px solid #CECECE;
  border-radius: 10px;
}
#contact_form_page label {
  margin-bottom: 10px;
}
#contact_form_page p {
  margin-bottom: 10px;
}