.page-heading {
  position: relative;
  padding: 25px 0 50px;
  background-color: #fff;
}
@media (max-width: 575px) {
  .page-heading {
    padding: 0;
    text-align: center;
  }
}

.page-heading__wrap {
  height: 235px;
}
@media (max-width: 575px) {
  .page-heading__wrap {
    height: auto;
  }
}

.page-heading__img {
  position: absolute;
  top: 0;
  left: 45%;
  max-height: 234px;
}
@media (max-width: 575px) {
  .page-heading__img {
    position: static;
    display: block;
    width: 100%;
  }
}

.page-heading__img--video {
  width: 900px;
  max-height: 235px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .page-heading__img--video {
    height: 127px;
    left: auto;
    right: 0;
    width: 490px;
  }
}
@media (max-width: 575px) {
  .page-heading__img--video {
    height: 98px;
    width: 100%;
    position: relative;
  }
}
.page-heading__img--video video {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 235px;
  margin-top: -1px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 991px) {
  .page-heading__img--video video {
    width: 99%;
    height: 125px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (max-width: 575px) {
  .page-heading__img--video video {
    height: 96px;
    width: 100%;
  }
}
.page-heading__img--video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(ctl2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 991px) {
  .page-heading__img--video::before {
    background-image: url(ctl3.png);
  }
}
@media (max-width: 575px) {
  .page-heading__img--video::before {
    background-image: url(ctl4.png);
  }
}

.page-heading__logo {
  display: inline-block;
}
@media (max-width: 575px) {
  .page-heading__logo {
    max-width: 181px;
    margin: 30px 0;
  }
}