.section-products {
  padding: 10px 0 40px;
  text-align: center;
}
@media (max-width: 991px) {
  .section-products {
    padding: 25px 0 58px;
  }
}
@media (max-width: 575px) {
  .section-products {
    padding: 20px 0;
  }
}
.section-products h2 {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .section-products h2 {
    margin-bottom: 20px;
  }
}
.section-products .ProductGridContainer {
  margin: 30px auto;
}
@media (max-width: 991px) {
  .section-products .ProductGridContainer {
    margin: 20px auto 70px;
  }
}

.product-grid {
  position: relative;
}
.product-grid .slick-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.product-grid .slick-prev {
  left: -15px;
}
.product-grid .slick-next {
  right: -15px;
}

.card {
  position: relative;
  max-width: 253px;
  padding: 50px 0 38px;
  margin: 0 auto;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(240, 238, 239, 0.4);
          box-shadow: 0px 0px 10px rgba(240, 238, 239, 0.4);
  border-radius: 40px;
  direction: ltr;
}

.sticker {
  position: absolute;
  right: 0;
  top: 0;
}

.card__title {
  font-size: 16px;
  line-height: 1.25;
}
.card__title:hover {
  color: #f88927;
}
@media (max-width: 575px) {
  .card__title {
    height: 2.4em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    font-size: 13px;
  }
}

.price__element-varies {
  color: #767270;
}
.price__element-varies span {
  color: #121212;
}
@media (max-width: 575px) {
  .price__element-varies {
    font-size: 12px;
  }
}

.card__img {
  position: relative;
  width: 100%;
  height: 250px;
}

.card__medialink {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.curentprice,
.price__element-normal {
  color: #f88927;
  font-weight: 600;
  font-size: 16px;
}

.oldprice {
  font-size: 12px;
  text-decoration: line-through;
  color: red;
}

button.product-form__submit--collection {
  width: 108px;
  height: 40px;
}
button.product-form__submit--collection svg {
  stroke: #fff;
}
button.product-form__submit--collection:hover {
  opacity: 0.8;
}

.form--product-card {
  padding: 16px 16px 0 16px;
}
@media (max-width: 768px) {
  .form--product-card {
    padding: 10px 5px 5px;
  }
}

.card__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  direction: ltr;
}

.card__option {
  font-size: 12px;
  font-weight: 600;
  color: #928f91;
  direction: ltr;
}
.card__option:not(:first-child) {
  margin-left: 5px;
}
.card__option:not(:last-child) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__option:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 10px;
  margin-left: 5px;
  background: #928f91;
}

.sticker {
  position: absolute;
  top: -10px;
  right: -10px;
}

.product-grid--js .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #f88927;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.product-grid--js .slick-arrow svg path {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  stroke: #f88927;
}
.product-grid--js .slick-arrow:hover {
  background: #f88927;
}
.product-grid--js .slick-arrow:hover svg path {
  stroke: #fff;
}
.product-grid--js .slick-prev {
  left: -50px;
}
@media (max-width: 1550px) {
  .product-grid--js .slick-prev {
    left: 0;
  }
}
.product-grid--js .slick-next {
  right: -50px;
}
@media (max-width: 1550px) {
  .product-grid--js .slick-next {
    right: 0;
  }
}
.product-grid--js .slick-dots {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: -40px;
}
.product-grid--js .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #e0e1e1;
}
.product-grid--js .slick-dots li:not(:last-child) {
  margin-right: 5px;
}
.product-grid--js .slick-dots li.slick-active button {
  background: #f88927;
  border: 2px solid #f88927;
}