.section-reviews {
  position: relative;
  padding: 40px 0;
  text-align: center;
}
@media (max-width: 991px) {
  .section-reviews {
    padding: 50px 0 30px;
  }
}
@media (max-width: 575px) {
  .section-reviews {
    padding: 20px 0;
  }
}
.section-reviews h2 {
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .section-reviews h2 {
    margin-bottom: 20px;
  }
}

.section-reviews__text {
  margin-bottom: 90px;
}
@media (max-width: 575px) {
  .section-reviews__text {
    margin-bottom: 20px;
  }
}

.reviews-items .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 11;
}
.reviews-items .slick-prev {
  left: -10px;
}
.reviews-items .slick-next {
  right: -10px;
}

.reviews-item {
  max-width: 357px;
  margin: 0 auto;
  text-align: left;
}
.reviews-item img {
  width: 357px;
  height: 340px;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.reviews-item h4 {
  margin-top: 10px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #49415a;
}
.reviews-item h4:hover {
  color: #f88927;
}
.reviews-item p {
  color: #49415a;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

.reviews-item__txt {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  line-height: 1.45;
  font-weight: 400;
  color: #49415a;
}

.section-reviews__link {
  margin-top: 55px;
}
@media (max-width: 575px) {
  .section-reviews__link {
    margin-top: 20px;
  }
}
.section-reviews__link svg {
  stroke: #fff;
  margin-right: 10px;
  margin-left: 0;
}