.section-results {
  padding: 40px 0 10px;
  text-align: center;
}
@media (max-width: 768px) {
  .section-results {
    padding: 20px 0 5px;
  }
}
.section-results h2 {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .section-results h2 {
    margin-bottom: 15px;
  }
}

.section-results__text {
  margin-bottom: 10px;
}

.section-results__link {
  margin-bottom: 38px;
  margin-top: 20px;
}

.results-items {
  overflow: hidden;
}

.results-item {
  margin-left: auto;
  margin-right: auto;
}
.results-item img {
  display: block;
  width: 100%;
  max-height: 460px;
  aspect-ratio: 1/1;
}
@media (max-width: 1200px) {
  .results-item img {
    width: 100%;
  }
}
.results-item a {
  display: block;
  font-size: 20px;
  line-height: 1.4;
  color: #121212;
  padding: 35px 30px 30px 30px;
  border-left: 1px solid #e0e1e1;
  border-right: 1px solid #e0e1e1;
  border-bottom: 1px solid #e0e1e1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
}
@media (max-width: 768px) {
  .results-item a {
    font-size: 13px;
    padding: 10px;
  }
}
.results-item a:hover {
  color: #f88927;
}
.results-item .results-item__text {
  margin: 20px 0 0;
}
@media (max-width: 575px) {
  .results-item .results-item__text {
    margin: 10px 0 0;
  }
}

.results-items-wrapper {
  position: relative;
}

.results-slider-nav .swiper-button-next,
.results-slider-nav .swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #f88927;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
@media (max-width: 768px) {
  .results-slider-nav .swiper-button-next,
.results-slider-nav .swiper-button-prev {
    display: none;
  }
}
.results-slider-nav .swiper-button-next::after,
.results-slider-nav .swiper-button-prev::after {
  display: none;
}
.results-slider-nav .swiper-button-next svg path,
.results-slider-nav .swiper-button-prev svg path {
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  stroke: #f88927;
}
.results-slider-nav .swiper-button-next:hover,
.results-slider-nav .swiper-button-prev:hover {
  background: #f88927;
}
.results-slider-nav .swiper-button-next:hover svg path,
.results-slider-nav .swiper-button-prev:hover svg path {
  stroke: #fff;
}
.results-slider-nav .swiper-button-prev {
  left: -50px;
}
@media (max-width: 1550px) {
  .results-slider-nav .swiper-button-prev {
    left: 0;
  }
}
.results-slider-nav .swiper-button-next {
  right: -50px;
}
@media (max-width: 1550px) {
  .results-slider-nav .swiper-button-next {
    right: 0;
  }
}